# {{ ansible_managed }}
---
version: "3.3"

# More info at https://doc.traefik.io/traefik/user-guides/docker-compose/basic-example/
services:

  traefik:
    image: "traefik:v2.7"
    container_name: "traefik"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboardRouter.entrypoints=http"
      - "traefik.http.routers.dashboardRouter.service=dashboard@internal"
      - "traefik.http.routers.dashboardRouter.rule=Host(`traefik.pihole`)"
    ports:
      - "80:80"
      # - "443:443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./log/traefik:/log/traefik"
      - "./configuration/traefik.yml:/traefik.yml"
      - "/etc/localtime:/etc/localtime:ro"
    restart: unless-stopped
