# {{ ansible_managed }}
---
version: "3.3"

# More info at https://doc.traefik.io/traefik/user-guides/docker-compose/basic-example/
services:

  traefik:
    image: "traefik:v2.7"
    container_name: "traefik"
    labels:
      - "traefik.http.routers.dashboard.rule=Host(`pihole`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.users=test:$$apr1$$H6uskkkW$$IgXLP6ewTrSuBkTrqE8wj/,test2:$$apr1$$d9hr9HBB$$4HxwgUir3HP4EsggP/QNo0"
    ports:
      - "80:80"
      - "443:443"
      - "8080:8080"
    volumes:
      - "./letsencrypt:/letsencrypt"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./log/traefik:/log/traefik"
      - "./traefik/traefik.yml:/traefik.yml"
      - "./traefik/dynamic.yml:/dynamic.yml"
      - "/etc/localtime:/etc/localtime:ro"
    restart: unless-stopped
